.DS_Store
.gradle
build
*.iml
*.ipr
*.iws
*.ids
.idea
local.properties
out
!build.release
node_modules
web/.DS_Store
web/node_modules/
web/dist/
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/test/unit/coverage
log/
account/src/main/resources/project.properties
article/src/main/resources/project.properties

