<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Kotlin 中文站</title>
    <link rel="stylesheet" th:href="${static} + '/css/bootstrap.min.css'">
    <link rel="stylesheet" th:href="${static} + '/css/kotlin-overview.css'">
    <script th:src="${static} + '/lib/react.min.js'" charset="utf-8"></script>
</head>
<body>
<script th:src="${static} + '/js/lib.app.js'" charset="utf-8"></script>
<script th:src="${static} + '/js/' + ${page} + '.app.js'" charset="utf-8"></script>
</body>
</html>
