/** gobal style **/
a{text-decoration: none;color: #333;font-weight: normal;}
body{background: #e9eaed;margin: 0px;color: #333;font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;}
li{list-style: none;padding: 0;margin: 0;}

/** header **/
#nav-bar{background: white;padding: 0px 16px;box-shadow: 0 1px 1px rgba(0,0,0,0.21);margin-bottom: 8px;}
#nav-bar div{display: inline-block;}
#nav-bar .menu-header b {color:#eb5424; font-weight: normal;}
#nav-bar .menu-right{float: right;margin: 16px 16px;}

/** footer **/
#foot{text-align: center; margin:auto;color: #999;margin-top: 48px;}

/** home page **/
#home {margin: 16px 16px 8px 16px;}
#home .value-post > div{background: #fafafa;font-size: 14px;padding: 4px 16px;color: #999;}
#home .value-post ul{margin: 0px;padding: 0px;}
#home .value-post li{border-bottom: 1px solid #e9eaed;background: white;padding: 12px 16px;}
#home .value-post li:nth-last-child(1){border-bottom: 0px;}
#home .value-post li > img{width: 40px;height: 40px;vertical-align: middle;}
#home .value-post li > div{display: inline-block;margin: auto;vertical-align: middle;}
#home .value-post li span {color: #999;display: inline-block;margin-right: 8px;}
#home .value-post li > div> div:nth-child(2){font-size: 12px;}
#home .value-post div.reply{color: white;border-radius: 6px;background: #ddd;font-size: 10px;padding: 0px 6px;float: right;margin-top:12px;}

/**account**/
#account #error{ margin: 24px 16px 8px 16px;padding: 8px 8px;background: antiquewhite;color: darkgrey;font-size: 14px;text-align: center;}
#account #register,#account #login{margin: 0px 16px;background: white;margin-top: 20px;padding-bottom: 12px;}
#account .list-head{background: #fafafa;font-size: 14px;padding: 4px 16px;color: #999;}
#account form{margin:6px 0px;}
#account form > div{box-sizing: border-box;margin: 4px 16px;border: 1px solid #f1f1f1;padding-left: 8px;}
#account form > div.div-checkbox{border: 0px;font-size: 12px;color: #666;margin: 12px 8px;}
#account form > div.div-checkbox div{display: inline-block;margin-left: 8px;}
#account input {line-height: 38px;margin: 0;padding: 0px;width: 100%;outline: none;border-color: white;border-width: 0px;font-size: 15px;}
#account input[type="checkbox"]{display: inline-block;width: initial;}
#account input[type="submit"]{border-radius: 5px;height: 36px;background: white;border-color: #f1f1f1;color: #eb5424;}