<div id="account">
    <div id="error" style="display:none">
        错误信息看这里
    </div>
    <div id="register">
        <div class="list-head">注册新用户</div>
        <form action="/api/account/register" accept-charset="utf-8" method="post">
            <div>
                <input type="text" name="user" placeholder="用户名">
            </div>
            <div>
                <input type="email" name="email" placeholder="邮箱">
            </div>
            <div>
                <input type="password" name="password" placeholder="密码">
            </div>
            <div>
                <input type="password" name="password_confirm" placeholder="确认密码">
            </div>
            <div>
                <input type="submit" name="commit" value="提交注册">
            </div>
        </form>
    </div>
    <div id="login">
        <div class="list-head">登录</div>
        <form action="/api/account/login" accept-charset="utf-8" method="post">
            <div>
                <input type="text" name="user" placeholder="用户名／邮箱">
            </div>
            <div>
                <input type="password" name="password" placeholder="密码">
            </div>
            <div class="div-checkbox">
                <input type="checkbox" value="1" name="remember">
                <div>记住登录状态</div>
            </div>
            <div>
                <input type="submit" name="commit" value="登录">
            </div>
        </form>
    </div>
    <div id="login-three-party" style="display:none">
        <div class="list-head">用其他平台账号登录</div>
        <form action="/account" accept-charset="utf-8" method="post">
            <div>
                <input type="submit" name="commit" value="GITHUB登录">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
'use strict';
var controller = {
    create: function() {
        if (App.LoginMgr.isLogin) {
            $('#register').hide();
            $('#login').hide();
            this.error('已登录');
        }

        $('#register form').on('submit', function(event) {
            event.preventDefault();
            var msg = '';
            if (!Tool.isValidName(this.user.value)) {
                msg = '用户名：输入2-20个以字母开头、可带数字、“_”、“.”的字串 ';
            } else if (!Tool.isValidEmail(this.email.value)) {
                msg = '邮箱：不是有效的邮箱格式';
            } else if (!Tool.isValidPass(this.password.value)) {
                msg = '密码：至少六位密码';
            } else if (this.password.value != this.password_confirm.value) {
                msg = '密码：前后两个密码不一致';
            }
            if (msg.length > 0) {
                controller.error(msg);
                return;
            }
            var request = {
                'username': this.user.value,
                'password': this.password.value,
                'email': this.email.value
            };
            controller.submit($(this), request);
        });

        $('#login form').on('submit', function(event) {
            event.preventDefault();

            if (this.user.value.length == 0 || this.password.value.length == 0) {
                controller.error('请输入账号密码');
                return;
            }
            var request = {
                'login_name': this.user.value,
                'password': this.password.value
            };
            controller.submit($(this), request);
        });
    },
    submit: function(form, request) {
        this.loading();
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: request,
            headers: App.Headers.get(),
            dataType:'text',
            success: function(data) {
                var result = JSON.parse(data);
                if (result.code == 0) {
                    if (result.email == null && request.email != null) {
                        result.email = request.email;
                        result.username = request.username;
                    }
                    App.LoginMgr.login(result);
                    Lg.d(result);

                    //refush
                    window.location.reload();
                } else {
                    controller.error(result.msg + ' 错误码：' + result.code);
                }
            },
            error: function(data) {
                controller.error('网络连接失败:' + data);
            }
        })
    },
    loading: function() {
        this.success();
    },
    error: function(msg) {
        $('#error').text(msg);
        $('#error').show();
        console.log(msg);
    },
    success: function() {
        $('#error').hide();
    }
};
controller.create();
</script>
