{{> header }}

<div id="rigister">

	<textarea name="account"></textarea>
	<textarea name="user name"></textarea>
	<textarea name="user email"></textarea>

	<textarea name="password"></textarea>
	<textarea name="password again"></textarea>
</div>

<div id="login" style="display: none;">
	<textarea name="account/email"></textarea>
	<textarea name="password"></textarea>
	<div>
		LOGIN	
	</div>
</div>

{{> footer }}