<div id="home">
	<div class="value-post">
		<div>精华帖</div>
		<ul>
			<li>
			<img src="images/t.png" alt="">
				<div>
					<div><span>TAB</span>long long long long long long title</div>
					<div><span>SOMEONE</span>last post by somebody at when</div>
				</div>
				<div class="reply">18</div>
			</li>
		</ul>
		<div><a href="/topics" title="">查看更多...</a></div>
	</div>
</div>