<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/Application.js"></script>
  </head>
  <body>
  	{{> header }}
    {{{body}}}
    {{> footer }}
  </body>
</html>
