<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery/jquery.js"></script>
  </head>
  <body>
  	{{> header }}
    {{{body}}}
    {{> footer }}
  </body>
</html>
