<div id="nav-bar">
	<div class="menu-header"><a href="/" title=""><b>kotlin</b> China</a></div>
	<div class="menu-main">
		<ul>
			<li><a href="/topics" title="社区">社区</a></li>
		</ul>
	</div>
	<div class="menu-authen">
		<a href="/account" title="注册">注册</a>
		<a href="/account" title="登录">登录</a>
	</div>
</div>